<a href="https://colab.research.google.com/github/eejyoo/2022-2-ML/blob/main/ML_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2.데이터 다루기(2)

#Pandas 프로그래밍

*   데이터 조작 및 분석을 위한 파이썬 라이브러리
*   Series와 DataFrame 형태로 데이터를 다룸.

(1) Series


*   Numpy array가 보강된 형태로, data와 index를 가지고 있음.
*   하나의 컬럼만 가짐.
*   data와 index 매개변수를 각각 넣어주는 방법 / dictionary를 매개변수로 넣어주는 방법

In [ ]:
''' 딕셔너리 값
korea : 5180
japan : 12718
china : 141500
usa : 32676
'''

import numpy as np
import pandas as pd

In [ ]:
country = pd.Series([5180, 12718, 141500, 32676], index=['korea', 'japan', 'china', 'usa'])
country

(2) DataFrame

*   여러 개의 컬럼 값을 가짐.

In [ ]:
population_dict = {
    'korea': 5180,
    'japan': 12718,
    'china': 141500,
    'usa': 32676
}
population = pd.Series(population_dict)
population

In [ ]:
gdp_dict = {
    'korea': 169320000,
    'japan': 516700000,
    'china': 1409250000,
    'usa': 2041280000
}
gdp = pd.Series(gdp_dict)
gdp

In [ ]:
country = pd.DataFrame({
    'population': population,
    'gdp': gdp
})
country



*   새로운 컬럼 추가하기
 - 기본 값은 NaN(Not a Number)

In [ ]:
gdp_per_capita = country['gdp'] / country['population']
country['gdp_per_capita'] = gdp_per_capita
country

* 데이터프레임 값으로 정렬하기

In [ ]:
raw_data = {'성': ['손', '이', '류', '김'],
           '이름': ['흥민', '강인', '현진', '광현'],
           '나이': [27, 19, 32, 31],
            '팀': ['Tottenham', 'Valencia', 'Toronto', 'Saint Louis']}
df = pd.DataFrame(raw_data)
df

In [ ]:
# '성'을 기준으로 오름차순으로 정렬하기

In [ ]:
# '나이'를 기준으로 내림차순으로 정렬하기

(3) 집계함수

In [ ]:
import numpy as np
import pandas as pd

data = {
    'korean': [50,60,70],
    'math': [10,np.nan,40]
}

df = pd.DataFrame(data, index=['a', 'b', 'c'])
df

In [ ]:
# 각 컬럼별 데이터 개수 구하기

In [ ]:
# 각 행별 데이터 개수 구하기

In [ ]:
# 각 컬럼별 최댓값 구하기

In [ ]:
# 각 컬럼별 최솟값 구하기

In [ ]:
# 각 컬럼별 합계 구하기

In [ ]:
# 컬럼의 최솟값으로 NaN 값 대체하기

In [ ]:
# 각 컬럼별 평균 구하기

#시각화

* Matplotlib
https://wikidocs.net/92071
* Seaborn
https://wikidocs.net/86290

#종합 연습