<a href="https://colab.research.google.com/github/eejyoo/2022-2-ML/blob/main/ML_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2.데이터 다루기(1)

#(1) Python 프로그래밍

In [ ]:
# 학번과 이름을 입력받아 예시와 같이 출력하시오.
# 출력 예시: 10800 만두님, 안녕하세요!

**[1. 리스트]**
 - 숫자나 문자의 모음을 저장할 수 있는 자료구조<br>

<b>** 리스트의 생성</b>
 - <b>리스트명[요소1, 요소2, 요소3]</b>과 같은 형식으로 생성

In [ ]:
a = []
b = [1, 2, 3, 4, 5]
c = ['서울', '용산', '고등학교']

<b>** 인덱싱 & 슬라이싱</b>
 - 인덱스는 0부터 시작함
 - 인덱스의 -1은 마지막 요소를 의미함
 - 슬라이싱은 구하고자 하는 인덱스를 <b>[시작인덱스:마지막인덱스+1]</b>로 표현함
 - 슬라이싱 인덱스를 생략하면 처음인덱스와 끝인덱스가 적용됨

In [ ]:
# 1, 2, 3

In [ ]:
# 3, 4

In [ ]:
# 2, 3, 4, 5

In [ ]:
# '고등학교'

In [ ]:
# '서울'을 '대전'으로 수정하시오.

<b>** 리스트 관련 함수들</b>
 - append: 마지막에 추가
 - sort: 오름차순 정렬
 - reverse: 뒤집기
 - index: 위치 반환
 - insert: 지정된 위치에 삽입
 - remove: 삭제
 - pop: 마지막 요소 반환하고 리스트에서 삭제
 - count: 개수 세기

In [ ]:
a = [3, 1, 2]

In [ ]:
# a 리스트의 마지막에 4를 추가하시오.

In [ ]:
# a 리스트를 오름차순으로 정렬하시오.

In [ ]:
# a 리스트를 역순으로 변경하시오.

In [ ]:
# a 리스트에서 3의 위치를 반환하시오.

In [ ]:
# a 리스트에서 1번 인덱스에 5를 삽입하시오.

In [ ]:
# a 리스트에서 2를 삭제하시오.

In [ ]:
# a 리스트의 마지막 요소를 출력하고 리스트에서 삭제하시오.

In [ ]:
# a 리스트의 요소 개수를 세시오.

<b>** 조건문</b><br>
if 조건1:<br>
&nbsp;&nbsp;&nbsp;&nbsp;실행할 문장1<br>
&nbsp;&nbsp;&nbsp;&nbsp;실행할 문장2<br>
elif 조건2:<br>
&nbsp;&nbsp;&nbsp;&nbsp;실행할 문장1<br>
&nbsp;&nbsp;&nbsp;&nbsp;실행할 문장2<br>
else:<br>
&nbsp;&nbsp;&nbsp;&nbsp;실행할 문장

In [ ]:
# 정수를 입력받아 '양의 정수', '음의 정수', '0'으로 구분하여 출력하시오.

<b>** 반복문</b><br>
for 변수 in 리스트(또는 튜플, 문자열):<br>
&nbsp;&nbsp;&nbsp;&nbsp;실행할 문장1<br>
&nbsp;&nbsp;&nbsp;&nbsp;실행할 문장2

In [ ]:
# 숫자를 5번 입력받고 출력하시오.

In [ ]:
# 숫자를 5번 입력받고 출력하시오. - 변수

In [ ]:
# 숫자를 5번 입력받고 출력하시오. - 리스트

In [ ]:
# 리스트 중 0, 2, 4번지의 값을 출력하시오.

In [ ]:
# 리스트의 값을 하나씩 출력하시오.

In [ ]:
# 리스트의 값을 3배씩 하여 result에 저장하시오.

nums = [1, 2, 3, 4]
result = []

In [ ]:
# 위 코드를 줄여서 해볼까?

nums = [1, 2, 3, 4]
result = []

In [ ]:
# 짝수만 3배 곱해 저장하시오.

nums = [1, 2, 3, 4]
result = []

#(2) Numpy 프로그래밍

- 파이썬의 고성능 과학 계산용 패키지
- 파이썬 list에 비해 빠르고 메모리 효율적

(1) 배열 생성
- import 를 사용하여 라이브러리 추가
- np라는 별칭을 사용함
- np.array 함수를 사용하여 배열 생성
- numpy의 배열은 동일한 데이터 타입만 저장할 수 있음(list와 다른점)
- C의 Array를 사용하여 배열을 생성(처리속도 빠름)

In [ ]:
import numpy as np
arr = np.array([1,2,3,4])
arr

array([1, 2, 3, 4])

In [ ]:
arr[3]

- 벡터화 연산 가능

In [ ]:
data = [0,1,2,3,4,5,6,7,8,9]
result = [i*2 for i in data]
result

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

(2) ndarray의 속성
 - dtype: 데이터 타입
 - shape: 배열의 모양
 - ndim: 차원의 개수
 - size: 데이터의 개수

Q. 다음과 같이 2차원 배열을 생성하고, 배열의 모양과 차원, 데이터의 개수를 출력하시오.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6

(3) reshape
- 배열 항목의 수가 같을 때 다른 차원으로 변형이 가능함.

In [ ]:
m = np.arange(8)
m

(4) 인덱싱과 슬라이싱
- 배열의 인덱스는 0부터 시작함.
- 배열의 인덱스를 활용하여 값을 찾아내거나 배열의 일부분을 가져올 수 있음.
- boolean indexing: Boolean Mask를 이용하여 원하는 값을 추출하는 것.

In [ ]:
n = np.arange(7)
n

#<Numpy 실습>

In [ ]:
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
file = '/content/drive/MyDrive/Colab Notebooks/input/Pokemon_np.csv'
data = np.loadtxt(file, delimiter=',', dtype=np.int32)

In [ ]:
data

In [ ]:
data[0]

In [ ]:
data.shape

In [ ]:
data[:5]

In [ ]:
data[:,1]

In [ ]:
np.max(data[:,1])

In [ ]:
data[0, 2:8]

In [ ]:
np.sum(data[0, 2:8])

In [ ]:
a = data[data[:,1]>500]
a

In [ ]:
a.shape